<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ERROR</title>
    <link rel="stylesheet" href="/style/reset.css">
  </head>
  <body>
    <h2>{{status}}</h2>
    <h2>{{message}}</h2>
    <pre>{{stack}}</pre>
  </body>
</html>
